.board {
  display: grid;
  grid-template-columns: repeat(9, 60px);
  grid-template-rows: repeat(10, 60px);

  width: 540px;
  height: 600px;

  background-color: #c4d096;

  position: relative;
}

.river {
  position: absolute;

  font-family: sans-serif;
  font-size: 32px;
  font-weight: bold;

  left: 0;
  right: 0;
  top: 50%;

  transform: translateY(-50%);

  display: flex;
  justify-content: space-between;

  padding: 0 90px;

  pointer-events: none;
}

.palace {
  position: absolute;

  width: 180px;
  height: 180px;

  left: 180px;

  pointer-events: none;
}

.top-palace {
  top: 0;
}

.bottom-palace {
  bottom: 0;
}

.diagonal {
  position: absolute;

  width: 1px;
  height: 170px; /* 170px = diagonal distance across 2 board spaces (120×120) */

  background: black;

  left: 90px;
  top: 6px;

  transform-origin: center;

  pointer-events: none;
}

.diagonal-1 {
  transform: rotate(45deg);
}

.diagonal-2 {
  transform: rotate(-45deg);
}

.diagonal-3 {
  transform: rotate(45deg);
}

.diagonal-4 {
  transform: rotate(-45deg);
}