.piece {
    width: 46px;
    height: 46px;

    border-radius: 50%;

    display: flex;
    justify-content: center;
    align-items: center;

    border: 2px solid #444;
    background-color: #f5deb3;

    font-size: 28px;
    font-weight: bold;
}

.piece.red {
    color: #b22222;
}

.piece.black {
    color: black;
}