.piece {
  position: absolute;

  width: 46px;
  height: 46px;

  border-radius: 50%;

  left: 50%;
  top: 50%;

  transform: translate(-50%, -50%);

  display: flex;
  justify-content: center;
  align-items: center;

  border: 2px solid #444;
  background-color: #f5deb3;

  font-size: 28px;
  font-weight: bold;

  cursor: default;

  z-index: 10;
}

.piece.red {
  color: #b22222;
}

.piece.black {
  color: black;
}

.piece.selected {
  outline: 3px solid orange;
}