.point {
  width: 60px;
  height: 60px;
  position: relative;

  box-sizing: border-box;
}

/* Horizontal lines*/
.point::before {
  content: "";

  position: absolute;

  width: 60px;
  height: 1px;

  background: black;

  top: 50%;
  left: 0;
}

/* Vertical lines */
.point::after {
  content: "";

  position: absolute;

  width: 1px;
  height: 60px;

  background: black;

  top: 0;
  left: 50%;
}

/* Right edge */
.point:nth-child(9n)::before {
  width: 30px;
}

/* Left edge */
.point:nth-child(9n + 1)::before {
  left: 30px;
  width: 30px;
}

/* Bottom edge */
.point:nth-child(n + 82)::after {
  height: 30px;
}

/* Top edge */
.point:nth-child(-n + 9)::after {
  top: 30px;
  height: 30px;
}

/* Top river */
.point:nth-child(n + 38):nth-child(-n + 44)::after {
  height: 30px;
}

/* Bottom river */
.point:nth-child(n + 47):nth-child(-n + 53)::after {
  top: 30px;
  height: 30px;
}

.move-indicator {
  position: absolute;

  width: 16px;
  height: 16px;

  border-radius: 50%;
  background: rgba(0, 0, 0, 0.5);

  top: 50%;
  left: 50%;

  transform: translate(-50%, -50%);

  z-index: 100;
}